<!DOCTYPE html>
<html ng-app="app" ng-controller="AppController">
    <head>
        <title>{{headline}}</title>
        <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css" media="screen" charset="utf-8" />
        <link rel="stylesheet" href="css/styles.css" media="screen" title="no title" charset="utf-8" />
    </head>
    <body class="">

        <div class="wrapper" ng-cloak>

            <header class="" ng-if="headline">

                <div class="mark">
                    <i class="fa fa-{{icon}}" ng-if="icon"></i>
                    {{headline}}
                </div>

            </header>

            <div class="workspace">

                <main class="main">
                    <div class="canvas">
                        <range-slider config="rangeConfig" model="range"></range-slider>
                        <div>
                            <b><br />Model<hr /></b>
                            <pre>{{range | json}}</pre>
                            <b><br />Config<hr /></b>
                            <pre>{{rangeConfig | json}}</pre>
                        </div>
                    </div>

                    <div class="settings">
                        <div class="flex-row">
                            <div class="flex-column flex-1">
                                <b>range options<hr /></b>
                                <label><input type="number" ng-model="rangeConfig.min" min="0" max="{{rangeConfig.max}}" maxlength="3" size="3" /> Min</label>
                                <label><input type="number" ng-model="rangeConfig.max" min="0" max="999" maxlength="3" size="3" /> Max</label>
                                <label><input type="number" ng-model="rangeConfig.step" min="0" max="1" step=".5" maxlength="3" size="3" /> Step</label>
                                <label><input type="number" ng-model="rangeConfig.gap" min="0" max="{{rangeConfig.max}}" maxlength="3" size="3" /> Forced Gap</label>
                                <!-- <label><input type="range" ng-model="rangeConfig.debounce" min="0" max="3000" /> Debounce</label> -->
                            </div>
                            <div class="flex-column flex-1">
                                <b>visual styles<hr /></b>
                                <label><input type="radio" ng-model="rangeConfig.style" value="" /> None</label>
                                <label><input type="radio" ng-model="rangeConfig.style" value="marklar" /> Marklar</label>
                                <label><input type="radio" ng-model="rangeConfig.style" value="piper" /> Piper</label>
                            </div>
                            <div class="flex-column flex-1">
                                <b>show segments<hr /></b>
                                <label><input type="checkbox" ng-model="rangeConfig.span.min" /> Min</label>
                                <label><input type="checkbox" ng-model="rangeConfig.span.gap" /> Gap</label>
                                <label><input type="checkbox" ng-model="rangeConfig.span.max" /> Max</label>
                            </div>
                        </div>
                        <b><br />range labels (min/max)<hr /></b>
                        <div>
                            <label><input type="text" ng-model="rangeConfig.labels.minPrefix" placeholder="min prefix" /></label>
                            <input type="text" ng-model="rangeConfig.min" min="0" max="{{rangeConfig.max}}" maxlength="3" size="3" readonly />
                            <label><input type="text" ng-model="rangeConfig.labels.minSuffix" placeholder="min suffix" /></label>
                        </div>
                        <div>
                            <label><input type="text" ng-model="rangeConfig.labels.maxPrefix" placeholder="max prefix" /></label>
                            <input type="text" ng-model="rangeConfig.max" min="0" max="999" maxlength="3" size="3" readonly />
                            <label><input type="text" ng-model="rangeConfig.labels.maxSuffix" placeholder="max suffix" /></label>
                        </div>
                        <b><br />range handles (min/max)<hr /></b>
                        <div>
                            <label><input type="text" ng-model="rangeConfig.handles.minPrefix" placeholder="min prefix" /></label>
                            <input type="text" ng-model="range.from" min="0" max="{{rangeConfig.max}}" maxlength="3" size="3" readonly />
                            <label><input type="text" ng-model="rangeConfig.handles.minSuffix" placeholder="min suffix" /></label>
                        </div>
                        <div>
                            <label><input type="text" ng-model="rangeConfig.handles.maxPrefix" placeholder="max prefix" /></label>
                            <input type="text" ng-model="range.to" min="0" max="{{rangeConfig.max}}" maxlength="3" size="3" readonly />
                            <label><input type="text" ng-model="rangeConfig.handles.maxSuffix" placeholder="max suffix" /></label>
                        </div>
                    </div>
                </main>

            </div>
        </div>

    </body>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="bower_components/jquery.scrollTo/jquery.scrollTo.min.js"></script>
    <script src="bower_components/jamfu/jamfu.js"></script>

    <script src="js/app.js"></script>
    <script src="directive/rangeSliderDirective.js"></script>
</html>
